<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

  <title>Hoax Detection</title>

  <!-- Bootstrap core CSS -->
  <link href="./static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/templatemo-plot-listing.css">
  <link rel="stylesheet" href="../static/css/animated.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/aos.css">
  <link rel="icon" href="../static/image/kemendikbud.png">

  <style>
    body {
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }

    .main-banner {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>

  <!-- TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-white fixed-top justify-content-end">
    <a class="btn btn-outline-light btn-sm" id="about" href="/about">About us</a>
  </nav>

  <div class="main-banner" id="main-layout">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Kelompok 1</h6>
            <h2>Hoax Detection</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="search-form" action="{{ url_for('predict')}}" method="POST">
            <div class="row">

              <div class="col-lg-9 align-self-center">
                <fieldset>
                  <input type="text" name="input_title" placeholder="Enter the news" autocomplete="on" required>
                </fieldset>
              </div>

              <div class="col-lg-3 align-self-right">
                <fieldset>
                  <button id="btn_submit" class="main-button" type="submit" value="Predict Now"><img class="icon"
                      src="../static/image/arrow.svg">Predict
                    Now</button>
                  <!-- <input type="submit" , value="predict"> -->
                </fieldset>
              </div>
            </div>
          </form>
        </div>


        <div class="container" id="result">
          {% if pred == 0 %}
          <p class="sub-predict">Hasil prediksi model menunjukkan bahwa kalimat tersebut merupakan : </p>
          <h1 class="predict" style="color:green;" onClick="window.location.reload()">Fact</h1>
          {% elif pred == 1 %}
          <p class="sub-predict">Hasil prediksi model menunjukkan bahwa kalimat tersebut merupakan : </p>
          <h1 class="predict" style="color:red;" onClick="window.location.reload()">Hoax</h1>
          {% endif %}
        </div>

        <br>
        <center><a class="btn btn-outline-light" id="reset-btn" href="/">Reset</a></center>
        <br>



      </div>
    </div>
  </div>



  <!-- Scripts -->
  <script src='../static/js/aos.js'></script>
  <script type="text/javascript">
      AOS.init({
          offset: 50,
          duration: 1000,
      });
  </script>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/animation.js"></script>
  <script src="../static/js/imagesloaded.js"></script>
  <script src="../static/js/custom.js"></script>

</body>

</html>